 .all-content{
    background-color: #CCDBDC;
}

.container {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
    width: 20%;
    color: #ceb992;
} 

.chart-container {
    
    
    justify-content: center;
    background-color: whitesmoke;
    height: 10%;
}

.search-container{
   display: inline;
} 
